body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#page{
    margin-right: 20%;
    margin-left: 20%;
}
#navigator{
    text-align: left;
}
#navigator li {
    margin: 0 10px;
    display: inline-block;
    color: black;
    background-color: orange;
    transition: transform 0.5s ease, background-color 0.5s ease;
}
a{
    text-decoration: none;
}
#navigator li:hover {
    background-color: white;
    transform: scale(1.2);
}