body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #282828;
    transition: 0.4s;
}
#page{
    margin-right: 20%;
    margin-left: 20%;
}
#navigator{
    text-align: center;
    border-radius: 20px;
    width: 600px;
    background-color: #3a3a3a;
}
#navigator ul{
    padding: 0;
    list-style: none;
}
#navigator li {
    margin: 10px;
    display: inline-block;
    transition: 0.5s ease;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    
}
a{
    text-decoration: none;
    
}
#navigator li:hover{
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Horizontal offset, Vertical offset, Blur radius, Color */

}
label{
  width: 50px;
  height: 20px;
  position: relative;
  display: block;
  background:#242424;
  border-radius: 20px;
  cursor: pointer;
}
label:after{
  content: "";
  width:18px;
  height: 18px;
  position: absolute;
  top:1px;
  left:1px;
  background-color: #3a3a3a;
  border-radius: 18px;
}
input {
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label {
  background: #ebebeb;
}
input:checked + label:after {
  left:31px;
  background:#b7b7b7;
}
label, label:after {
  transition: 0.3s
}
.whitext{
  color: white;
}
.blacktext{
  color: black;
}